.properties {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 40px;
    margin: 24px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

@media (max-width: 768px) {
    .properties {
        grid-template-columns: 1fr;
        margin: 16px;
        padding: 0;
        gap: 16px;
        background-color: transparent;
        border-radius: 0;
    }
}