.collapses-container {
    width: 80%;
    margin: 0 auto;
}

.collapses-container .collapse {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 768px) {
    .collapses-container {
        width: auto;
        margin: 0 16px;
    }
}
